.video-container {
    width: 80%; /* Set the width of the video container */
    max-width: 600px; /* Reduce maximum width */
    margin: 0 auto; /* Center the video */
}

.video-container video {
    width: 100%; /* Make video responsive */
    height: auto; /* Maintain aspect ratio */
}

.explore-button {
    display: inline-block;
    background: #ff0000;
    color: #fff;
    padding: 0.75rem 1.5rem;
    text-decoration: none;
    border-radius: 5px;
    margin: 1rem auto; /* Centering the button */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    text-align: center; /* Center text */
}

.explore-button:hover {
    background: #e60000; /* Darker shade on hover */
}
